/vendor/
/.phpunit.cache/
/.phpunit.result.cache
/phpunit.xml.bak
/.idea/
/.vscode/
*.swp
.DS_Store
.unlazy/**/dispatch.json
.unlazy/**/status.log
.unlazy/**/hook-state.json
.unlazy/**/session
.unlazy/**/stamps/
.unlazy/locks/
.unlazy-hook-state.json
composer.lock

# phpize / autoconf / make output from building in place
/.libs/
/autom4te.cache/
/build/
/include/
/modules/
/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
/acinclude.m4
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.nice
/config.status
/config.sub
/configure
/configure~
/configure.ac
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/run-tests.php
*.dep
*.la
*.lo
*.o
/build.log
